<div class="container welcome">
  <h3 class="page-title">Welcome to Robot Marketplace.</h3>

  <div class=portal-button>
  <h4>Please sign up or sign in to browse our inventory</h4>
    <%= link_to "Login", login_path, class: "btn btn-primary" %>
  </div>
</div>
